<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.accessory-transport-security</string>
	</dict>
	<key>NSAccessorySetupBluetoothNames</key>
	<array>
		<string>Pebble</string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>0000FED9-0000-1000-8000-00805F9B34FB</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
</dict>
</plist>
